@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #D1D5DB;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal-center {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%; /* Ajuste conforme necessário */
    max-width: 400px; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%);
    background: white; /* Ajuste conforme o design */
    padding: 20px; /* Ajuste conforme o design */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ajuste conforme o design */
    z-index: 1000; /* Garante que esteja acima de outros elementos */
    border-radius: 8px; /* Ajuste conforme o design */
}
